.input-field {
    display: flex;
    justify-content: space-between;
}

input {
    width: 60%;
}

.delivery {
    flex-direction: column;
    gap: 4px;
}


.periods {
    display: flex;
    align-items: center;
    gap: 16px;
}

.period, .termsandconditions {
    flex-direction: row-reverse;
    gap: 8px;
}

.period input, .termsandconditions input {
    width: fit-content;
}

.remarks {
    flex-direction: column;
    gap: 4px;    
}

.termsandconditions {
    justify-content:flex-end;
}