.fruit-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}