@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

/* Display */

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/background-image.jpg);
    background-size: cover;
}